.main-container_homepage {
  background-color: #E3B966;
}
.headers-homepage {
  color: white;
  text-align: left;
  width: 20%;
}
.headers-homepage__h1 {
  font-size: 3.2rem;
width: 40%;
}

.headers-homepage__h2 {
  font-weight: 350;
  color: rgb(71, 64, 64);
  width: 100%;
}

.wrapper-homepage {
  display: flex;
  justify-content: center;
  padding: 100px 0px;
  
}


@media only screen and (max-width: 600px) {
  .headers-homepage__h1{
    font-size: 2.2rem;
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }
  .headers-homepage{
    width: 100%;
  }
  .wrapper-homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .headers-homepage__h2 {
    display: none;
    }
  .image-coffee-homepage {
    width: 400px;
    height: 300px;
    position: static;
  }
}
