.essential-wrapper {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 1fr;
  font-family: Libre Franklin;
}

.main-container-essential-list--h1 {
  margin-bottom: 30px;
  text-align: left;
  margin-left: 112px;
}

.essentials-description {
  font-size: 18px;
  margin-bottom: 100px;
}

.main-container-essential-list__content {
  font-size: 18px;
  margin-bottom: 100px;
  margin-left: 112px;
}

.essential-card__h1 {
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.essential-card__h2 {
  font-weight: 400;
  margin: 0 auto;
}
