
.single-blog-article__wrapper {
  display: flex;
  flex-direction: column;
  font-family: Libre Franklin;
}

.single-blog-card{
  display: flex;
  margin: 50px 100px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
}

.single-info-blog-card {
  text-align: left;
  margin-left: 40px;
}

.single-blog-article__author, .single-blog-article__date {
  font-weight: 200;
  font-size: 16px;
  text-align: left;
  color: #3E2413;
}

.single-blog-article__title {
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #3E2413;
}

.single-blog-article__text {
  font-size: 18px;
  color: #3E2413;
}