.varieties-wrapper{
    display: flex;
    flex-direction: column;
    font-family: Libre Franklin;
}
.varieties-card{
    display: flex;
    margin: 50px 100px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}

.varieties-card:hover{
  opacity: 0.7;

}
.info-variety-card{
  text-align: left;
  margin-left: 40px;

}
.main-container-varieties-list--h1 {
    margin-bottom: 10px;
    text-align: left;
    margin-left: 112px;
  }

.main-container-varieties-list__content {
  font-size: 18px;
  margin-bottom: 100px;
  margin-left: 112px;
}
  
.varieties-description {
  width: 90%;
}
.varieties-price{
  margin: none !important;
}

.info-variety-card__h1{
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
}
  
  .varieties-price {
    font-weight: 400;
    text-align: left;
    margin-left: none;
  }